.container
  %section.first
    .inner-container
      %h2 Terms of Service
      %p
        The following terms and conditions govern all use of the Earthcell Application Service (the “Service”) and all content, services and products available at or through Earthcell.org (the “Site”). The Service is owned and operated by the Earthcell Co-operative Ltd (“Earthcell”). The Service is offered subject to your acceptance without modification of all of the terms and conditions contained herein and all other operating rules, policies (including, without limitation,
        =link_to "Earthcell’s Privacy Policy", privacy_path
        ) and procedures that may be published from time to time on this Site by Earthcell (collectively, the “Agreement”).
      %p
        If you are entering into this agreement on behalf of a company or other legal entity, you represent that you have the authority to bind such entity, its affiliates and all users who access our services through your account to these terms and conditions, in which case the terms "you" or "your" shall refer to such entity, its affiliates and users associated with it. If you do not have such authority, or if you do not agree with these terms and conditions, you must not accept this agreement and may not use the services.
      %p
        Please read this Agreement carefully before accessing or using the Service. By accessing or using any part of the Site, you agree to become bound by the terms and conditions of this agreement. If you do not agree to all the terms and conditions of this agreement, then you may not access the Service. If these terms and conditions are considered an offer by Earthcell, acceptance is expressly limited to these terms.
  %section
    .inner-container
      %h3 General Account Terms
      %p
        You must be a human. Accounts registered by "bots" or other automated methods are not permitted.
        You do not have to provide your legal name (except for subscribing group coordinators for billing purposes) and you can use the service with a pseudonym.
      %p
        You are responsible for maintaining the security of your account and password. Earthcell cannot and will not be liable for any loss or damage from your failure to comply with this security obligation.
        You are fully responsible for all activities that occur under the account and any other actions taken in connection with the account.
        You must immediately notify Earthcell of any unauthorized uses of your account, or any other breaches of security. Earthcell will not be liable for any acts or omissions by You, including any damages of any kind incurred as a result of such acts or omissions.
        You may not use the Service for any illegal or unauthorized purpose. You must not, in the use of the Service, violate any laws in your jurisdiction (including but not limited to copyright or trademark laws).
  %section
    .inner-container
      %h3 Content
      %p
        If you coordinate a group, comment in a discussion, post links in a discussion, or otherwise make (or allow any third party to make) material available through Earthcell (any such material, “Content”), You are entirely responsible for the content of, and any harm resulting from, that Content. That is the case regardless of whether the Content in question constitutes text, graphics, an audio file, or computer software. By making Content available, you represent and warrant that:
        the downloading, copying and use of the Content will not infringe the proprietary rights, including but not limited to the copyright, patent, trademark or trade secret rights, of any third party;
        if your employer has rights to intellectual property you create, you have either (i) received permission from your employer to post or make available the Content, including but not limited to any software, or (ii) secured from your employer a waiver as to all rights in or to the Content;
        you have fully complied with any third-party licenses relating to the Content, and have done all things necessary to successfully pass through to end users any required terms;
        the Content does not contain or install any viruses, worms, malware, Trojan horses or other harmful or destructive content;
        the Content is not spam, is not machine- or randomly-generated, and does not contain unethical or unwanted commercial content designed to drive traffic to third party sites or boost the search engine rankings of third party sites, or to further unlawful acts (such as phishing) or mislead recipients as to the source of the material (such as spoofing);
        the Content is not pornographic, does not contain threats or incite violence, and does not violate the privacy or publicity rights of any third party;
        your group is not getting advertised via unwanted electronic messages such as spam links on newsgroups, email lists, other groups and web sites, and similar unsolicited promotional methods;
        your group is not named in a manner that misleads your readers into thinking that you are another person or company. For example, your group’s name is not the name of a company other than your own; and
        you have, in the case of Content that includes computer code, accurately categorized and/or described the type, nature, uses and effects of the materials, whether requested to do so by Earthcell or otherwise.
      %p
        Without limiting any of those representations or warranties, Earthcell has the right (though not the obligation) to, in Earthcell’s sole discretion
        %ol
          %li refuse or remove any content that, in Earthcell’s reasonable opinion, violates any Earthcell policy or is in any way harmful or objectionable, or
          %li terminate or deny access to and use of the Service to any individual or entity for any reason, in Earthcell’s sole discretion. Earthcell will have no obligation to provide a refund of any amounts previously paid.
  %section
    .inner-container
      %h3 Payment

      %h4 General Terms
      %p
        Earthcells are always free to join, to participate in and to leave. You agree to never have a forced exchange of money or property in return for members participating on the platform. 

  %section
    .inner-container
      %h3 Changes
      %p
        We reserve the right to modify these Terms at any time and modified terms are effective upon posting to this website. We will make every effort to inform you of these changes via email or through the Service. Your continued use of or access to the Service following the posting of any changes to this Agreement constitutes acceptance of those changes. Earthcell may also, in the future, offer new services and/or features (including, the release of new tools and resources). Such new features and/or services shall be subject to the terms and conditions of this Agreement.

      %h3 Data
      %p
        Users and group coordinators may request data related to their personal account and group(s) respectively. Earthcell will take reasonable efforts to provide these data. Earthcell has the right to refuse repetitive or technically difficult requests. For information about how we collect and share user information please refer to Earthcell’s Privacy Policy.

      %h3 Termination
      %p
        Earthcell may terminate your access to all or any part of the Service at any time, with or without cause, with or without notice, effective immediately. If you wish to terminate this Agreement or your Earthcell account (if you have one), you may simply discontinue using the Service.  All provisions of this Agreement which by their nature should survive termination shall survive termination, including, without limitation, ownership provisions, warranty disclaimers, indemnity and limitations of liability.

      %h3 Disclaimer of Warranties
      %p
        The Sevice is provided “as is”. Earthcell and its suppliers and licensors hereby disclaim all warranties of any kind, express or implied, including, without limitation, the warranties of merchantability, fitness for a particular purpose and non-infringement. Neither Earthcell nor its suppliers and licensors, makes any warranty that the App will be error free or that access thereto will be continuous or uninterrupted. You understand that you download from, or otherwise obtain content or services through, the Service at your own discretion and risk.

      %h3 Limitation of Liability
      %p
        In no event will Earthcell, or its suppliers or licensors, be liable with respect to any subject matter of this agreement under any contract, negligence, strict liability or other legal or equitable theory for:
        %ol
          %li any special, incidental or consequential damages;
          %li the cost of procurement for substitute products or services;
          %li for interruption of use or loss or corruption of data; or
          %li for any amounts that exceed the fees paid by you to Earthcell under this agreement during the twelve (12) month period prior to the cause of action. Earthcell shall have no liability for any failure or delay due to matters beyond their reasonable control. The foregoing shall not apply to the extent prohibited by applicable law.

  %section
    .inner-container
      %h3 General Representation and Warranty
      %p
        You represent and warrant that:
        %ol
          %li your use of the Service will be in strict accordance with the Earthcell Privacy Policy, with this Agreement and with all applicable laws and regulations (including without limitation any local laws or regulations in your country, state, city, or other governmental area, regarding online conduct and acceptable content), and
          %li your use of the Service will not infringe or misappropriate the intellectual property rights of any third party.

      %h3 Indemnification
      %p
        You agree to indemnify and hold harmless Earthcell, its contractors, and its licensors, and their respective directors, officers, employees and agents from and against any and all claims and expenses, including attorneys’ fees, arising out of your use of the Service, including but not limited to your violation of this Agreement.
  %section
    .inner-container
      %h3 Disputes and choice of law
      %p
        This Agreement constitutes the entire agreement between Earthcell and You concerning the subject matter hereof, and they may only be modified by a written amendment signed by a Earthcell Cooperative member, or by the posting by Earthcell of a revised version.
        Any and all disputes arising of this agreement, termination, or our relationship with you shall be determined by binding arbitration under the Arbitration Act 1996 in Wellington, New Zealand, by one arbitrator who shall be a lawyer knowledgeable in relevant technology matters appointed by the President for the time being of the Arbitrators and Mediators Institute of New Zealand Incorporated (AMINZ) on a request by either You or Earthcell.
        Notice must be given to apply for any interim measure in the arbitration proceeding.

        %ol
          %li The arbitration proceeding will commence when a request is made to AMINZ to appoint an arbitrator.
          %li The arbitration shall be in English. The Arbitrator in his or her discretion may permit the parties and witnesses to appear by videoconference.
          %li The relationship we have with you under these terms is governed by New Zealand law. You and Earthcell submit to the exclusive jurisdiction of the New Zealand arbitral tribunals and courts (for the purposes of that arbitration) and the parties agree to enforcement of the arbitral award and orders in New Zealand and any other country.
          %li If any part of this Agreement is held invalid or unenforceable, that part will be construed to reflect the parties’ original intent, and the remaining portions will remain in full force and effect. A waiver by either party of any term or condition of this Agreement or any breach thereof, in any one instance, will not waive such term or condition or any subsequent breach thereof. You may assign your rights under this Agreement to any party that consents to, and agrees to be bound by, its terms and conditions; Earthcell may assign its rights under this Agreement without condition. This Agreement will be binding upon and will inure to the benefit of the parties, their successors and permitted assigns.

  %section
    .inner-container
      %p
        Earthcell is made with love by random folks, and based on the fine work of good people of the good people of loomio.org
