%li{dropdown: ''}
  %a.loomio-nav-btn.dropdown-toggle
    %i.fa.fa-lg.fa-fw.fa-search
  .dropdown-menu.loomio-nav-dropdown#search-dropdown{role: 'menu'}
    .navbar-search-input
      %input.form-control{ng-click: '$event.stopPropagation()', ng-model: 'query', ng-change: 'getSearchResults(query)', ng-model-options="{debounce: 300}", placeholder: "{{ 'navbar.search_placeholder' | translate }}"}
    %ul.selector-list{ng-show: '(availableGroups() | filter: { name: query }).length > 0'}
      %li.selector-list-header
        %h3{translate: "common.groups"}
      %li.selector-list-item.media{ng_repeat: 'group in availableGroups() | filter: { name: query } | orderBy: "fullName()"', class: 'is-subgroup-{{group.parentId != null}}'}
        %a.selector-list-item-link{href: '/g/{{group.key}}'}
          .media-left
            %img.selector-list-item-group-logo{src: "{{group.logoUrl()}}"}
          .selector-list-item-group-name.media-body {{group.fullName()}}
      %li.selector-list-header{ng-show: 'query'}
        %h3{translate: "navbar.search_results"}
      %li.selector-list-item.search-loading{ng-show: 'searching', translate: 'navbar.search_loading'}
      %li.selector-list-item.no-results-found{ng-show: 'noResultsFound()', translate: 'navbar.no_results_found'}
      %li.selector-list-item.media{ng-hide: 'searching', ng-repeat: 'result in searchResults | orderBy: "priority"'}
        {{result.discussion().title}}